#include<stdio.h>
int main()
{
	printf("Food item-\n1.Pizza \n2.Burger\n3.Pasta\n4.French Fries\n5.Sandwich\n");
	int choice=0;
	scanf("%d",&choice);
	switch (choice)
	{
		case 1:
			printf("Price - Rs 239");
			break;
		case 2:
			printf("Price - Rs 129");
			break;
		case 3:
			printf("Price - Rs 179");
			break;
		case 4:
			printf("Price - Rs 99");
			break;
		case 5:
			printf("Price - Rs 149");
			break;
	}
}
